node_modules
# Keep environment variables out of version control
.env

/generated/prisma
dist/
client/dist/
vertex-auth.jsonevent1_prod.json
prod_program.json
rescued_data.json
lost_sessions.json
src/events/restore-track-sessions.json
.last-run.json
